p{
    color:#a52a2a;
  
    text-align: center;
}

h1{
    text-align: center;
    text-decoration: underline;
}

h3{
    text-align: center;
    color: rgb(253, 0, 0);
}

h4{
    text-align: center;
}
body{

    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 30px;
}
a{
    text-decoration: null;
    color: rgb(0,255,0);
}

button{
    background-color: white;
    color: blueviolet;
}
