
        h1{
            color:red;
            background-color: rgb(28, 223, 223);
        }

        p{
            color:blueviolet

        }
        button{
            color:gold;
        }
        
    